/*.stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  background: #fafafa;
  position: relative;
  margin:auto;
}

.stores.list {
  flex-direction: column;
  display: inline-table;
}*/

store {
  margin:auto;
  flex-wrap:flex;
  display: flex;
  padding: 20px;
  background: #fafafa;;
  min-width:350px;
}
