.mdl-card--horizontal-2 {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;

  .mdl-card__title {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 auto;
    float: left;
  }
  .mdl-card__title-text {
    align-self: flex-start;
  }
  .mdl-card__media {
    flex: 0 auto;
    float: right;
    height: 112px;
    padding: 16px 16px 0 0;
    width: 112px;
  }
  .mdl-card__actions {
    clear: both;
    flex: 1 auto;
  }
}