.progress-bar = {
  width:9000px;
  margin:auto;
}

.user-card = {
  width: 512px;
  margin:0 auto;
  height: 176px;
}

.clear-user  {
  font-size:2em;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.clear-user & hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

// Card styles

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh; /* 1 */
  padding-left: 150px;
  width: 100%;

  .mdl-card__media {
    left: 0;
    position: absolute;
    width: 150px;
  }

  .mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto;
  }
}